#root {
  width: 100%;
  margin: 0 auto;

}

#desktopNav{
  display: none;
}


#mobileNav{
  display: block;
  }



@media screen and (min-width:600px) {
    
  #desktopNav{
      display: block;
  }

  #mobileNav{
  display: none;
  }
  

}