#root {
  margin: 0 auto;

}

#desktopNav{
  display: none;
}
#desktop-orange{
  display: none;
}

#mobileNav{
  display: block;
  }

  #mobile-orange{
    display: block;
  }



@media screen and (min-width:600px) {
    
  #desktopNav{
      display: block;
  }

  #desktop-orange{
    display: block;
  }

  #mobileNav{
  display: none;
  }
  
  #mobile-orange{
     display: none;
  }
}